@font-face {
	font-family: itcKabelFontFace;
	src: url(./base/fonts/ITCKABELSTD-BOOK.OTF);
}
@font-face {
	font-family: itcKabelFontFace;
	src: url(./base/fonts/ITCKABELSTD-DEMI.OTF);
	font-weight: bold;
}
@font-face {
	font-family: itcKabelFontFace;
	src: url(./base/fonts/ITCKABELSTD-BOLD.OTF);
	font-weight: 900;
}
